@import url('https://fonts.googleapis.com/css?family=Ruda');

.container {
  padding-inline: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  background-color: #d6d6d6;
}

.main {
  height: 100%;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Ruda', sans-serif;
}

@media(min-width: 600px) {
  .main {
    max-width: 760px;
  }
}
.main h1 {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #E8755D;
  text-align: center;
  text-wrap: balance;
}

.main h3 {
  margin: 0 0 1rem;
  font-size: 1.25rem;
  color: #E88E5D;
}

.main p {
  font-size: 1rem;
  margin-left: 10%;
  margin-right: 10%;
  margin-block-start: 0;
  margin-block-end: 1rem;
  color: hsl(10, 75%, 25%);
}

.description {
  text-align: center;
  font-size: medium;
  display: flex;
  font-family: 'Ruda', sans-serif;
}

@media (min-width: 600px){
  .main h1 {
    font-size: 2rem;
  }

  .main h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
